In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [52]:
df1 = pd.read_csv('Fake.csv')
df2 = pd.read_csv('True.csv')

In [53]:
df1.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [54]:
df1['label'] = 0

In [55]:
df2['label'] = 1

In [56]:
df1.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [57]:
df2.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",1
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",1
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",1
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",1
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",1

In [58]:
df = pd.concat([df1,df2] , axis = 0)

In [59]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0

In [60]:
df['date'] = pd.to_datetime(df['date'],errors='coerce')

In [61]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,2017-12-31,0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,2017-12-31,0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,2017-12-30,0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,2017-12-29,0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,2017-12-25,0

In [62]:
df = df.sample(frac = 1)

In [63]:
df.head()

,title,text,subject,date,label
11225,MAYOR OF SANCTUARY CITY: Trump Trying To Make ...,,politics,2017-04-02,0
9708,MEGYN KELLY IS DESTROYING NBC’s Morning Show R...,"The numbers are in, and Megyn Kelly Today is...",politics,2017-10-11,0
12578,WHOA! FBI’S COMEY DEFIED DOJ’S LORETTA LYNCH I...,FBI Director James Comey defied his boss s ins...,politics,2016-10-29,0
17384,[VIDEO] REP GOVERNOR WALKS AWAY FROM CNN “Jour...,Republican Governor Larry Hogan waited for a c...,Government News,2015-04-28,0
18425,Joy and relief greet Puerto Rico fuel deliveri...,"QUEBRADILLAS, Puerto Rico (Reuters) - When Nes...",worldnews,2017-10-03,1

In [64]:
df.isnull().sum()

title       0
text        0
subject     0
date       10
label       0
dtype: int64

In [65]:
df.reset_index(inplace = True)
df.head()

,index,title,text,subject,date,label
0,11225,MAYOR OF SANCTUARY CITY: Trump Trying To Make ...,,politics,2017-04-02,0
1,9708,MEGYN KELLY IS DESTROYING NBC’s Morning Show R...,"The numbers are in, and Megyn Kelly Today is...",politics,2017-10-11,0
2,12578,WHOA! FBI’S COMEY DEFIED DOJ’S LORETTA LYNCH I...,FBI Director James Comey defied his boss s ins...,politics,2016-10-29,0
3,17384,[VIDEO] REP GOVERNOR WALKS AWAY FROM CNN “Jour...,Republican Governor Larry Hogan waited for a c...,Government News,2015-04-28,0
4,18425,Joy and relief greet Puerto Rico fuel deliveri...,"QUEBRADILLAS, Puerto Rico (Reuters) - When Nes...",worldnews,2017-10-03,1

In [66]:
df.drop(['date'],axis = 1 , inplace = True)
df.head()

,index,title,text,subject,label
0,11225,MAYOR OF SANCTUARY CITY: Trump Trying To Make ...,,politics,0
1,9708,MEGYN KELLY IS DESTROYING NBC’s Morning Show R...,"The numbers are in, and Megyn Kelly Today is...",politics,0
2,12578,WHOA! FBI’S COMEY DEFIED DOJ’S LORETTA LYNCH I...,FBI Director James Comey defied his boss s ins...,politics,0
3,17384,[VIDEO] REP GOVERNOR WALKS AWAY FROM CNN “Jour...,Republican Governor Larry Hogan waited for a c...,Government News,0
4,18425,Joy and relief greet Puerto Rico fuel deliveri...,"QUEBRADILLAS, Puerto Rico (Reuters) - When Nes...",worldnews,1

In [67]:
df.isnull().sum()

index      0
title      0
text       0
subject    0
label      0
dtype: int64

In [68]:
def wordopt(text):
    text = text.lower()
    text = re.sub(r'https?://\S+|www\.\S+','',text)
    text = re.sub(r'<.*?>','',text)
    text = re.sub(r'[^\w\s]', '', text)
    text = re.sub(r'\d','',text)
    text = re.sub(r'\n','',text)

    return text

In [69]:
df['title'] = df['title'].apply(wordopt)
df['text'] = df['text'].apply(wordopt)

In [70]:
df.head()

,index,title,text,subject,label
0,11225,mayor of sanctuary city trump trying to make u...,,politics,0
1,9708,megyn kelly is destroying nbcs morning show ra...,the numbers are in and megyn kelly today is ...,politics,0
2,12578,whoa fbis comey defied dojs loretta lynch in s...,fbi director james comey defied his boss s ins...,politics,0
3,17384,video rep governor walks away from cnn journal...,republican governor larry hogan waited for a c...,Government News,0
4,18425,joy and relief greet puerto rico fuel deliveri...,quebradillas puerto rico reuters when nestor ...,worldnews,1

In [79]:
x = df.iloc[:,-1].to_numpy()
y = df['label'].to_numpy()

In [80]:
x = x.reshape(-1,1)
y = y.reshape(-1,1)

In [81]:
from  sklearn.model_selection import train_test_split

In [82]:
xtrain , xtest , ytrain ,ytest = train_test_split(x,y,test_size = 0.3 , random_state = 42)

In [83]:
from sklearn.tree import DecisionTreeClassifier

In [84]:
dt = DecisionTreeClassifier()

In [85]:
dt.fit(xtrain,ytrain)

DecisionTreeClassifier()

In [86]:
y_pred = dt.predict(ytest)

In [92]:
from sklearn.metrics import classification_report , accuracy_score

In [91]:
print(classification_report(y_pred,ytest))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      7101
           1       1.00      1.00      1.00      6369

    accuracy                           1.00     13470
   macro avg       1.00      1.00      1.00     13470
weighted avg       1.00      1.00      1.00     13470

In [93]:
print(accuracy_score(y_pred,ytest))

1.0

In [95]:
import joblib

In [97]:
joblib.dump(dt,'fake_news_model.pkl')

['fake_news_model.pkl']